html{
    margin: 0%;
    padding: 0%;
    width: 100vw;
    overflow-x: hidden;
}
body{
    margin: 0%;
    padding: 0%;

}

@font-face {
    font-family: Inter;
    src: url('/resources/fonts/Inter-V.ttf');
}