html {
  margin: 0%;
  padding: 0%;

  overflow-x: hidden;

  display: flex;
  justify-content: center;

  scroll-behavior: smooth;

  border: 0ch;
}
body {
  margin: 0%;
  border: 0ch;
  padding: 0%;
}

@font-face {
  font-family: Inter;
  src: url("Inter-V.ttf");
}

#moonImg {
  background-image: url("moon.png");
  
}

main button:hover{
    border: 1px solid #4159BB;
    background-color: rgb(255, 255, 255);
    transition-duration: 500ms;
    color: #4159BB !important
}




#section-four button:hover,#fir button:hover{
    transition-duration: 200ms;
        border: 1px solid #4159BB;
        background-color: rgb(255, 255, 255);
        color: #4159BB;
        box-shadow: 0vw 0vw 0vw 0 rgba(0, 0, 0, 0.318);
    
}

#section-four button,#fir button{
    transition-duration: 300ms;
    box-shadow: 0vw 0.5vw 0.25vw 0 rgba(0, 0, 0, 0.318);
    border: 1px solid #4159BB;
    background-color: rgb(255, 255, 255);
    color: #4159BB;

}

.whiteBtn{

}

iframe{
    width: 100%;
    height: 100%;
}