html{
    margin: 0%;
    padding: 0%;
    
    overflow-x: hidden;
    
        display: flex;
        justify-content: center;
        
            scroll-behavior: smooth;
          
    border: 0ch;
}
body{
    margin: 0%;
    border: 0ch;
    padding: 0%;

}

@font-face {
    font-family: Inter;
    src: url('/resources/fonts/Inter-V.ttf');
}

#moonImg{
    background-image: url('moon.png');
}