@media (max-width: 769px){
    body{
        width: 100vw;
    }
    body, html {
        overflow-x: hidden;
        scrollbar-width: 100%;
      }
    @font-face {
        font-family: InterM;
        src: url('Inter-Medium.otf');
    }
    
    @font-face {
        font-family: InterR;
        src: url('Inter-Regular.otf');
    }
    
    @font-face {
        font-family: InterB;
        src: url('Inter-Bold.otf');
    }
    
    @font-face {
        font-family: InterExBoIt;
        src: url('Inter-ExtraBoldItalic.otf');
    }
    
    @font-face {
        font-family: InterSemiBold;
        src: url('Inter-SemiBold.otf');
    }
    
    #fir{
        border-top: 1px solid black;
    width: 83.3vw;
    height: 110.8vw;
    padding-left: 8.3vw;
    padding-right: 8.3vw;
    padding-top: 9.1vw;
    padding-bottom: 7.1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    
    #fir h2{
        font-weight: normal;
        text-align: center;
        margin: 0%;
        margin-bottom: 42px;
    font-size: 6.25vw;
    font-family: InterM;
    }
    
    #fir h2 em{
        font-family: InterExBoIt;
        }
    
        #fir h3{
            border-radius: 40px;
            border: 1px solid black;
        }
    
        .firIns{
            display: flex;
            
            gap: 3.9vw;
            font-size: 4.1vw;
        }
    #cns{
        margin-bottom: 3.9vw;
        flex-direction: column;
    }


    #call{
        width: 83.3vw;
        height: 26.4vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    
    
        #call p{
            margin: 0%;
            font-size: 4.1vw;
        }
    
        #callText{
            font-size: 4.1vw;
            font-family: InterR;
            font-weight: normal;
        }
        #callBold{
            display: flex;
            align-items: flex-end;
    font-family: InterB;
    font-size: 4.1vw;
        }
        #callBlue{
            display: flex;
            align-items: flex-end;
            font-family: InterR;
            color: #4159BB;
            font-weight: normal;
            font-size: 4.1vw;
    
        }
    
    .underlinedP{
        text-decoration: underline;
    }
    
        .emoji{
            text-decoration: none;
            font-style: normal;
        }
    
        #time{font-size: 4.1vw;
            margin: 0;
            width: 83.3vw;
            height: 22.0vw;
            font-family: InterR;
            font-weight: normal;
            display: flex;
            flex-direction: column;
            align-items: center;
        justify-content: center;
        }
    #time p{
        margin: 0;
    }
        #time em{
            font-style: normal;
            font-family: InterB;
        }
    
        #socials{
            display: flex;
            flex-direction: row;
            gap: 6.5vw;
            width: 62.2vw;
            height: 10.6vw;
        }

        #socials svg{
            width: 10.6vw;
            height: 10.6vw;
        }
    #subsText{
        font-size: 4.1vw;
        border: 0px solid rgba(226, 46, 46, 0);
        text-align: center;
        font-family: InterR;
        font-weight: normal;
    }
    
    #subs{
        border: 1px solid black;
        border-radius: 40px;
        width: 83.3vw;
        height: 36vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4.2vw;
    }

    #subs h4{
        margin: 0%;
    }
    #sec{
        
        /*padding-bottom: 50px;*/
        align-items: center;
    width: 100vw;
    height: 89.8vw;
    background-color: #4159BB;
    display: flex;
    flex-direction: column;
    gap: 6.5vw;
    }
    
    #sec h4{
        line-height: 5.2vw;
        font-family: InterSemiBold;
        color: white;
        font-weight: lighter;
        text-transform: uppercase;
        font-size: 4.6vw;
        margin: 0%;
        margin-top: 6.5vw;
        align-self: center;
        text-align: center;
    }
    
    #sec h4 em{
        border-bottom: 1px solid white;
        font-style: normal;
    
    }
    
    #sec div{
        width: 100vw;
        height: 65.1vw;
        background-image: url('map.png');
        background-position: center;
        background-size: contain;
    }
    
    #thiXfou{
        display: flex;
        flex-direction: column;
        gap: 60px;
        padding-bottom: 75px;
    }
    
    #thi{
        padding-top: 75px;
    padding-top: 60px;
    
    width: 84.2vw;
    padding-left: 7.8vw;
    padding-right: 7.8vw;
    height: 72.9vw;
    gap: 6.2vw;
    display: flex;
    flex-direction: column;
    
    }
    
    #thi p,h5{
        margin: 0;
    }
    
    #thi article{
        display: flex;
        flex-direction: column;
        gap: 2.7vw;
        font-size: 3.1vw;
        font-family: InterR;
        width: 82.8vw;
        height: 47.2vw;
        line-height: 3.2vw;
    }
    
    #thi p{
        font-family: InterR;
        font-weight: normal;
        font-size: 3.1vw;
    }
    
    #thi h5{
        font-size: 3.1vw;
        font-family: InterSemiBold;
    }
    
    .logo{
        width: 42.7vw;
        align-self: center;
        height: 81px;
        background-image: url('logo_B.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin-top: 0px;
        /*margin-left: 83px;*/
    }
    #thi em{
        font-style: normal;
    }
    #address{
    
    border-bottom: 1px solid black;
    }
    #link{
        
        color: #4159BB;
    }
    
    
    
    #fou{
        width: 84.2vw;
    padding-left: 7.8vw;
    padding-right: 7.8vw;
        
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #fou form{
        display: flex;
        width: 72.5vw;
        height: 355px;
        justify-content: space-between;
        align-items: center;
        padding-top: 52px;
        padding-bottom: 52px;
        padding-left: 45.5px;
        padding-right:45.5px;
        border: 1px solid black;
        border-radius: 30px;
        flex-direction: column;
    }
    
    /*comment*/
    
    #fou form aside{
    display: flex;
    flex-direction: column;
    width: 383px;
    height: 162px;
    gap: 18px;
    align-items: center
    }
    
    #fou form article{
    width: 72.5vw;
    font-family: InterR;
    font-weight: lighter;
    text-align: center;
    }
    
    #fou form article h2{
        text-align: center;
        font-family: InterM;
        font-weight: lighter;
        margin: 0%;
        font-size: 6.1vw;
        margin-bottom: 0.7vw;
    }
    
    #fou form em{
        font-style: normal;
        font-family: InterExBoIt;
    }
    
    #fou button{
        width:260px;
        height: 42px;
        
        
        font-family: Inter;
        font-size: 14.8px;
        border-radius: 40px;
        background-color: #4159BB;
        border: 0cap;
        color: white;
    }
    
    #fou input{
        height: 42px;
        border: 1px solid #999EAD;
        background-color: rgba(0, 0, 128, 0);
        border-radius: 10px;
    width: 49.8vw;
    padding-left: 17px;
    
    }
    
    #fou input::placeholder{
        font-family: Inter;
        
    }
    
}
