@font-face {
    font-family: InterM;
    src: url('Inter-Medium.otf');
}

@font-face {
    font-family: InterR;
    src: url('Inter-Regular.otf');
}

@font-face {
    font-family: InterB;
    src: url('Inter-Bold.otf');
}

@font-face {
    font-family: InterExBoIt;
    src: url('Inter-ExtraBoldItalic.otf');
}

@font-face {
    font-family: InterSemiBold;
    src: url('Inter-SemiBold.otf');
}

#fir{
    border-top: 1px solid black;
width: 1200px;
height: 619px;
padding-left: 120px;
padding-right: 120px;
padding-top: 70px;
padding-bottom: 55px;
display: flex;
flex-direction: column;
align-items: center;
}

#fir h2{
    font-weight: normal;
    text-align: center;
    margin: 0%;
    margin-bottom: 55px;
font-size: 64px;
font-family: InterM;
}

#fir h2 em{
    font-family: InterExBoIt;
    }

    #fir h3{
        border-radius: 40px;
        border: 1px solid black;
    }

    .firIns{
        display: flex;
        gap: 30px;
        font-size: 32px;
    }
#cns{
    margin-bottom: 30px;
}
#call{
    width: 669px;
    height: 203px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

    #call p{
        margin: 0%;
        font-size: 32px;
    }

    #callText{
        font-size: 32px;
        font-family: InterR;
        font-weight: normal;
    }
    #callBold{
        display: flex;
        align-items: flex-end;
font-family: InterB;
font-size: 32px;
    }
    #callBlue{
        display: flex;
        align-items: flex-end;
        font-family: InterR;
        color: #4159BB;
        font-weight: normal;
        font-size: 32px;

    }

.underlinedP{
    text-decoration: underline;
}

    .emoji{
        text-decoration: none;
        font-style: normal;
    }

    #time{font-size: 32px;
        margin: 0;
        width: 501px;
        height: 203px;
        font-family: InterR;
        font-weight: normal;
        display: flex;
        flex-direction: column;
        align-items: center;
    justify-content: center;
    }
#time p{
    margin: 0;
}
    #time em{
        font-style: normal;
        font-family: InterB;
    }

    #socials{
        display: flex;
        flex-direction: row;
        gap: 50px;
        width: 478px;
        height: 82px;
    }
#subsText{
    font-size: 32px;
    border: 0px solid rgba(226, 46, 46, 0);
    text-align: center;
    font-family: InterR;
    font-weight: normal;
}

#subs{
    border: 1px solid black;
    border-radius: 40px;
    width: 1200px;
    height: 203px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 82px;
}
#sec{
    
    /*padding-bottom: 50px;*/
    align-items: center;
width: 1440px;
height: 690px;
background-color: #4159BB;
display: flex;
flex-direction: column;
gap: 50px;
}

#sec h4{
    line-height: 40px;
    font-family: InterSemiBold;
    color: white;
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 36px;
    margin: 0%;
    margin-top: 50px;
}

#sec h4 em{
    border-bottom: 1px solid white;
    font-style: normal;

}

#sec div{
    width: 1440px;
    height: 500px;
    background-image: url('map.png');
    background-position: center;
    background-size: contain;
}

#thiXfou{
    display: flex;
    flex-direction: column;
    gap: 75px;
}

#thi{
    padding-top: 75px;
padding-left: 120px;
padding-right: 120px;
width: 1115px;
padding-left: 205px;
padding-right: 120px;
height: 363px;
gap: 100px;
display: flex;
flex-direction: row;

}

#thi p,h5{
    margin: 0;
}

#thi article{
    display: flex;
    flex-direction: column;
    gap: 21px;
    font-size: 24px;
    font-family: InterR;
    width: 687px;
    line-height: 25px;
}

#thi p{
    font-family: InterR;
    font-weight: normal;
}

#thi h5{
    font-size: 24px;
    font-family: InterSemiBold;
}

.logo{
    width: 328px;
    height: 81px;
    background-image: url('logoBlack.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 100px;
    /*margin-left: 83px;*/
}
#thi em{
    font-style: normal;
}
#address{

border-bottom: 1px solid black;
}
#link{
    
    color: #4159BB;
}

#fou{
padding-left: 120px;
padding-right: 120px;
width: 1200px;
height: 317px;
}

#fou{
    height: 447px;
    width: 1200px;
    padding-left: 120px;
    padding-right: 120px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
#fou form{
    display: flex;
    width: 1200px;
    height: 166.9px;
    justify-content: space-between;
    align-items: center;
    padding-top: 77.5px;
    padding-bottom: 77.5px;
    padding-left: 93px;
    padding-right:93px;
    border: 1px solid black;
    border-radius: 30px;
}

/*comment*/

#fou form aside{
display: flex;
flex-direction: column;
width: 383px;
height: 162px;
gap: 18px;
align-items: center
}

#fou form article{
width: 557px;
font-family: InterR;
font-weight: lighter;
}

#fou form article h2{
    font-family: InterM;
    font-weight: lighter;
    margin: 0%;
    font-size: 47px;
    margin-bottom: 6px;
}

#fou form em{
    font-style: normal;
    font-family: InterExBoIt;
}

#fou button{
    width:260px;
    height: 42px;
    
    
    font-family: Inter;
    font-size: 14.8px;
    border-radius: 40px;
    background-color: #4159BB;
    border: 0cap;
    color: white;
}

#fou input{
    height: 42px;
    border: 1px solid #999EAD;
    background-color: rgba(0, 0, 128, 0);
    border-radius: 10px;
width: 383px;
padding-left: 17px;

}

#fou input::placeholder{
    font-family: Inter;
    
}
