@font-face {
    font-family: InterM;
    src: url('Inter-Medium.otf');
}

@font-face {
    font-family: InterR;
    src: url('Inter-Regular.otf');
}

@font-face {
    font-family: InterB;
    src: url('Inter-Bold.otf');
}

@font-face {
    font-family: InterExBoIt;
    src: url('Inter-ExtraBoldItalic.otf');
}

@font-face {
    font-family: InterSemiBold;
    src: url('Inter-SemiBold.otf');
}

#fir{
    border-top: 1px solid black;
width: 83,3vw;
height: 42.9vw;
padding-left: 8.3vw;
padding-right: 8.3vw;
padding-top: 4.8vw;
padding-bottom: 3.8vw;
display: flex;
flex-direction: column;
align-items: center;
}

#fir h2{
    font-weight: normal;
    text-align: center;
    margin: 0%;
    margin-bottom: 3.8vw;
font-size: 4vw;
font-family: InterM;
}

#fir h2 em{
    font-family: InterExBoIt;
    }

    #fir h3,#divText{
        border-radius: 40px;
        border: 1px solid black;
    }

    .firIns{
        display: flex;
        gap: 30px;
        font-size: 2.2vw;
    }
#cns{
    border: 0px solid black;
    margin-bottom: 30px;
}
#call{
    width: 46.4vw;
    height: 14vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    border: 1px solid black;
    border-radius: 40px;
}

    #call p{
        margin: 0%;
        font-size: 2.2vw;
    }

    #callText{
        border: 0px solid black;
        font-size: 2.2vw;
        font-family: InterR;
        font-weight: normal;
    }
    #callBold{
        border: 0px solid black;
        display: flex;
        align-items: flex-end;
font-family: InterB;
font-size: 2.2vw;
    }
    #callBlue{
        border: 0px solid black;
        display: flex;
        align-items: flex-end;
        font-family: InterR;
        color: #4159BB;
        font-weight: normal;
        font-size: 2.2vw;

    }

.underlinedP{
    text-decoration: underline;
}

    .emoji{
        text-decoration: none;
        font-style: normal;
    }

    #time{font-size: 2.2vw;
        margin: 0;
        width: 34.7vw;
        height: 14vw;
        font-family: InterR;
        font-weight: normal;
        display: flex;
        flex-direction: column;
        align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 40px;
    }
#time p{
    margin: 0;
}
    #time em{
        font-style: normal;
        font-family: InterB;
    }

    #socials{
        border: 0px solid black;
        display: flex;
        flex-direction: row;
        gap: 3.6vw;
        width: 33.1vw;
        height: 5.6vw;
    }
#subsText{
    font-size: 2.2vw;
    border: 0px solid rgba(226, 46, 46, 0);
    text-align: center;
    font-family: InterR;
    font-weight: normal;
}

#subs{
    border: 1px solid black;
    border-radius: 40px;
    width: 83.3vw;
    height: 14.0vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 82px;
}
#sec{
    
    /*padding-bottom: 50px;*/
    align-items: center;
width: 100vw;
height: 47.9vw;
background-color: #4159BB;
display: flex;
flex-direction: column;
gap: 50px;
}

#sec h4{
    line-height: 2.7vw;
    font-family: InterSemiBold;
    color: white;
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 2.5vw;
    margin: 0%;
    margin-top: 50px;
    text-align: center;
}

#sec h4 em{
    border-bottom: 1px solid white;
    font-style: normal;

}

#sec div{
    width: 100vw;
    height: 34.7vw;
    background-image: url('map.png');
    background-position: center;
    background-size: contain;
}

#thiXfou{
    display: flex;
    flex-direction: column;
    gap: 5.2vw;
}

#thi{
    padding-top: 5.2vw;

width: 77.4vw;
padding-left: 14.2vw;
padding-right: 8.3vw;
height: 25.2vw;
gap: 6.9vw;
display: flex;
flex-direction: row;

}

#thi p,h5{
    margin: 0;
}

#thi article{
    display: flex;
    flex-direction: column;
    gap: 1.4vw;
    font-size: 1.6vw;
    font-family: InterR;
    width: 47.7vw;
    line-height: 1.6vw;
}

#thi p{
    font-family: InterR;
    font-weight: normal;
}

#thi h5{
    font-size: 1.6vw;
    font-family: InterSemiBold;
}

.logo{
    width: 22.7vw;
    height: 81px;
    background-image: url('logoBlack.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 100px;
    /*margin-left: 83px;*/
}
#thi em{
    font-style: normal;
}
#address{

border-bottom: 1px solid black;
}
#link{
    
    color: #4159BB;
}

#fou{
padding-left: 8.3vw;
padding-right: 8.3vw;
width: 83.3vw;
height: 22vw;
}

#fou{
    height: 447px;
    width: 83.3vw;
    padding-left: 8.3vw;
    padding-right: 8.3vw;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
#fou form{
    display: flex;
    width: 83.3vw;
    height: 166.9px;
    justify-content: space-between;
    align-items: center;
    padding-top: 5.3vw;
    padding-bottom: 5.3vw;
    padding-left: 6.4vw;
    padding-right:6.4vw;
    border: 1px solid black;
    border-radius: 30px;
}

/*comment*/

#fou form aside{
display: flex;
flex-direction: column;
width: 26.5vw;
height: 162px;
gap: 18px;
align-items: center
}

#fou form article{
width: 38.6vw;
font-family: InterR;
font-weight: lighter;
}

#fou form article h2{
    font-family: InterM;
    font-weight: lighter;
    margin: 0%;
    font-size: 3.2vw;
    margin-bottom: 6px;
}

#fou form em{
    font-style: normal;
    font-family: InterExBoIt;
}

#fou button{
    width:18vw;
    height: 42px;
    
    
    font-family: Inter;
    font-size: 14.8px;
    border-radius: 40px;
    background-color: #4159BB;
    border: 0cap;
    color: white;
}

#fou input{
    height: 42px;
    border: 1px solid #999EAD;
    background-color: rgba(0, 0, 128, 0);
    border-radius: 10px;
width: 26.5vw;
padding-left: 17px;

}

#fou input::placeholder{
    font-family: Inter;
    
}
