header{
    display: flex;
    justify-content: space-between;
    padding-left:8.3vw;
    padding-right:8.3vw;
    height: 84px;
    width: 83.3vw;
    align-items: center;
    position: fixed;
    background-color: white;
    border-bottom: 1px solid black;
    z-index: 5;
}
main{
    padding-top: 84px;
}
header button{
    background-color: rgba(250, 235, 215, 0);
    border: 0ch;
    font-size:1vh;
    
    
}

#headerMenu{
    display: flex;
    flex-direction: row;
    width: 50vw;
}
header nav{
    /*min-width: 42%;
    
    max-width: 350px ;*/
    margin-left: 0;
    padding-left: 0;
    width: 41vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    right: 0%;
    padding-right: 8.3vw;
}

#navElem{
    min-width: 42%;
    margin-left: 0;
    padding-left: 0;
    max-width: 350px ;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}

@font-face {
    font-family: Inter;
    src: url('Inter-V.ttf');
}
#mainBtn{
    margin-top: 4vh;
    width: 184px;
    height: 38px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 4vh;
    font-family: Inter;
    transform: scaleY(1.05);
    flex-direction: column;
    background-image: url('logoBlack.png');
}

.menuH-btn{
font-size: 14px;
}
header button,a{
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    font-family: Inter;
}

header button svg{
    margin-top: 4.7px;
    margin-right: -5.5px;
}

#moonImg{
    width: 18px;
    height: 18px;
    margin-right: 0.5vw;
    margin-top: -2px;
    background-size: contain;
    background-position: center;
    background-image: url('moon.png');
}

footer{
    width: 100vw;
    height: 252px;
    background-color: #4159BB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

@font-face {
    font-family: InterEm;
    src: url('Inter-BoldItalic.otf');
}

footer h4{
font-family: InterEm;
color: white;
font-size: 35px;
margin: 0%;
}
footer div{
    width: 184px;
    display: flex;
    
    justify-content: space-around
}
footer p{
    color: #B2C1E2;
    font-size: 14px;
    font-family: Inter;
}

#menuBurger{
    position: unset;
}

#closeBtn{
    position: unset;
    display: none;
}