body{
    font-family: Inter;
    overflow-x: hidden;
}

#fir{
    
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

@font-face {
    font-family: InterExBoIt;
    src: url('Inter-ExtraBoldItalic.otf');
}
#fir h2 em{
    font-style: normal;
    font-family: InterExBoIt;
    
}

#fir{
    padding-left: 8vw;
    padding-top: 8vh;
    padding-bottom: 8.5vh;
    display: flex;
    align-items: center;
    justify-content: space-between
}

#fir article h2{
    font-size: 52px;
    margin-bottom: 5px;
    font-weight: 700;
    margin-top: 0;
}

#fir article p{
    font-size: 15px;
    margin-bottom: 3.3vh;
    width: 90%;
}

#fir article{
    width: 38%;
    
}

#fir article button{
    width: 58%;
    margin-left: 10vh;
    
    padding-top: 2.2vh;
    padding-bottom: 2.2vh;
    font-family: Inter;
    font-size: 14.8px;
    border-radius: 40px;
    background-color: #4159BB;
    border: 0cap;
    color: white;
}
#carousel{
    border-top-left-radius: 34px;
    border-bottom-left-radius: 34px;
    
    width: 49%;
    height: 50vh;
    background-color: #B2C1E2;
}

#sec{
    display: flex;
    padding-left: 8vw;
    padding-right: 10vw;
    justify-content: space-between;
    align-items: center
}

.headingLang h3{
    font-size: 24px;
    width: 60%;
    margin: 0;
    margin-bottom: 2vh;
}

.headingLang{
    display: flex;
    justify-content: space-between;
    align-items: center
}

#brFlag,#geFlag,#spFlag{
    width: 4vw;
    height: 10vh;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: -2vh;
}
#brFlag{
    background-image: url('/resources/images/brFlag.png');
}
#geFlag{
    background-image: url('/resources/images/geFlag.png');
}
#spFlag{
background-image: url('/resources/images/spFlag.png');
}

.langCard p{
    
    margin: 0;
    
}

.langCard{
    margin-top: 8vh;
    margin-bottom: 8vh;
    padding-top: 6vh;
    padding-bottom: 6vh;
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 15px;
    width: 17.5vw;
    min-height: 40vh;
    border: 1px solid black;
    border-radius: 25px;

}
@font-face {
    font-family: InterSemiBold;
    src: url('Inter-SemiBold.otf');
}
.langCard em{
    font-style: normal;
    font-family: InterSemiBold;
}
.langCard p{
    font-size: 15px;
}

.langCard-p{
    display: flex;
    flex-direction: column;
    min-height: 30vh;
    justify-content: space-around
}

#thi{
height: 30vh;
width: 82vw;
background-color: #4159BB;
padding-left: 8vw;
    padding-right: 10vw;
    display: flex;
    align-items: center;
    justify-content: space-between
}

#friendAdd{
width: 30%;
color: white;
font-family: Inter;
font-size: 6vh;
font-weight: 500;
}
#dance{
width: 30%;
height: 48%;
background-position: center;
background-size: contain;
background-repeat: no-repeat;
background-image: url('dance.png');
}
#weekFree{
width: 30%;
color: white;
font-family: Inter;
font-size: 5.4vh;
font-weight: 500;
text-align: end;
}

#weekFree em{
    font-style: normal;
    font-family: InterExBoIt;
}

#fou{
    height: 44vh;
    width: 82vw;
    padding-left: 8vw;
    padding-right: 10vw;
    padding-top: 8vh;
    padding-bottom: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#fou form{
    display: flex;
    width: 84vw;
    justify-content: space-between;
    align-items: center;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 6vw;
    padding-right: 8vw;
    border: 1px solid black;
    border-radius: 30px;
}

#fou form aside{
display: flex;
flex-direction: column;
width: 30%;
gap: 3vh;
align-items: center
}

#fou form article{
width: 60%;
}

#fou form article h2{
    margin: 0%;
    font-size: 50px;
    margin-bottom: 3vh;
}

#fou form em{
    font-style: normal;
    font-family: InterExBoIt;
}

#fou button{
    width:80%;
    
    margin-top: 2.3vh;
    padding-top: 2.2vh;
    padding-bottom: 2.2vh;
    font-family: Inter;
    font-size: 14.8px;
    border-radius: 40px;
    background-color: #4159BB;
    border: 0cap;
    color: white;
}

#fou input{
    height: 5vh;
    border: 1px solid #999EAD;
    padding-left: 1vw;
    border-radius: 10px;
width: 100%;

}

#fou input::placeholder{
    font-family: Inter;
}



