html{
    display: flex;
    justify-content: center;
    
}
body{
    width: 1440px;
    font-family: Inter;
    /*overflow-x: hidden;*/
}

#fir{
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

@font-face {
    font-family: InterExBoIt;
    src: url('Inter-ExtraBoldItalic.otf');
}
#fir h2 em{
    font-style: normal;
    font-family: InterExBoIt;
    
}

#fir{
    padding-left: 120px;
    padding-top: 8vh;
    padding-bottom: 8.5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1320px;
}



#fir article h2{
    font-size: 64px;
    margin-bottom: 5px;
    font-weight: 700;
    margin-top: 0;
}

#fir article p{
    font-size: 16px;
    margin-bottom: 3.3vh;
    width: 90%;
}

#fir article{
    width: 38%;
    
}

#fir article button{
    width: 295px;
    margin-left: 71px;
    height: 46px;
    font-family: Inter;
    font-size: 14.8px;
    border-radius: 40px;
    background-color: #4159BB;
    border: 0cap;
    color: white;
}
#carousel{
    border-top-left-radius: 34px;
    border-bottom-left-radius: 34px;
    
    width: 641px;
    height: 342px;
    background-color: #B2C1E2;
}

#sec{
    width: 1440px;
    height: 582px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sec-cont{
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height: 450px;
}

.headingLang h3{
    font-size: 24px;
    width: 60%;
    margin: 0;
    margin-bottom: 2vh;
}

.headingLang{
    display: flex;
    justify-content: space-between;
    align-items: center
}

#brFlag,#geFlag,#spFlag{
    
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: -2vh;
    width: 67px;
    height: 63px;
}
#brFlag{
    background-image: url('brFlag.png');
}
#geFlag{
    background-image: url('geFlag.png');
}
#spFlag{
background-image: url('spFlag.png');
}

.langCard p{
    
    margin: 0;
    
}

.langCard{
    padding-top: 55px;
    padding-bottom: 55px;
    
    padding-left: 35px;
    padding-right: 35px;
    font-size: 20px;
    width: 310px;
    height: 339px;
    border: 1px solid black;
    border-radius: 25px;

}
@font-face {
    font-family: InterSemiBold;
    src: url('Inter-SemiBold.otf');
}
.langCard em{
    font-style: normal;
    font-family: InterSemiBold;
}
.langCard p{
    font-size: 20px;
}

.langCard-p{
    display: flex;
    flex-direction: column;
    height: 230px;
    width: 310px;
    justify-content: space-around
}

#thi{
height: 218px;
width: 1200px;
background-color: #4159BB;
padding-left: 120px;
    padding-right: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between
}

#friendAdd{

color: white;
font-family: Inter;
font-size: 46px;
font-weight: 500;
}
#dance{
width: 236px;
height: 128px;
background-position: center;
background-size: contain;
background-repeat: no-repeat;
background-image: url('dance.png');
}
#weekFree{

color: white;
font-family: Inter;
font-size: 47px;
font-weight: 500;
text-align: end;
}

#weekFree em{
    font-style: normal;
    font-family: InterExBoIt;
}

#fou{
    height: 447px;
    width: 1170px;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 8vh;
    padding-bottom: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#fou form{
    display: flex;
    width: 1200px;
    height: 317px;
    justify-content: space-between;
    align-items: center;
    padding-top: 77.5px;
    padding-bottom: 77.5px;
    padding-left: 93px;
    padding-right:93px;
    border: 1px solid black;
    border-radius: 30px;
}

#fou form aside{
display: flex;
flex-direction: column;
width: 383px;
height: 162px;
gap: 18px;
align-items: center
}

#fou form article{
width: 557px;
}

#fou form article h2{
    margin: 0%;
    font-size: 47px;
    margin-bottom: 6px;
}

#fou form em{
    font-style: normal;
    font-family: InterExBoIt;
}

#fou button{
    width:260px;
    height: 42px;
    
    
    font-family: Inter;
    font-size: 14.8px;
    border-radius: 40px;
    background-color: #4159BB;
    border: 0cap;
    color: white;
}

#fou input{
    height: 42px;
    border: 1px solid #999EAD;
    
    border-radius: 10px;
width: 383px;

}

#fou input::placeholder{
    font-family: Inter;
}



